[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython/
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm
[submodule "thrift"]
	path = thrift
	url = https://github.com/apache/thrift
